/* ML */

.MLButton {
    margin-bottom: 20px;
}

input[type="number"] {
    padding: 10px; /* Внутренний отступ для комфорта */
    border: 2px solid #007BFF; /* Цвет рамки */
    border-radius: 5px; /* Скругленные углы */
    font-size: 16px; /* Размер шрифта */
    transition: border-color 0.3s ease; /* Плавный переход цвета рамки */
  }
  
  input[type="number"]:focus {
    border-color: #0056b3; /* Цвет рамки при фокусе */
    outline: none; /* Убираем стандартный контур */
  }
  
  input[type="number"]::placeholder {
    color: #888;
    opacity: 0.7;
  }
  