/* People */
h2 {
    font-size: 24px;
    color: white; /* Изменен цвет заголовка на белый */
}


.person:hover {
    background-color: #b1bbd4;
    cursor: pointer;
}

.person {
    display: flex; /* Используем flexbox для выравнивания изображения и текста */
    align-items: center; /* Выравнивание по центру по вертикали */
    padding: 10px;
    margin: 5px 0;
    background-color: #5f6881;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s;
    color: #fff;
}

.person-image {
    width: 40px; /* Ширина изображения */
    height: 40px; /* Высота изображения */
    border-radius: 50%; /* Круглая форма изображения */
    margin-right: 10px; /* Отступ справа от изображения */
}

.search-input {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
