.app {
  display: flex;
  height: 100vh;
}

/* Категории */
.sidebar { 
  width: 20%;
  background-color: #5f6881;
  padding: 20px;
}

/* Посты */
.main-content {
  width: 60%;
  padding: 20px;
  background-color: #46516f;
  color: #fff;
}

/* Люди */
.people-list {
  width: 20%;
  background-color: #5f6881;
  padding: 20px;
}
